.ra-design-tools-title{
  height: 30px;
  line-height: 30px;
  color: #FFFFFF;
  background: $ra-back-extra-color;
  border-bottom:1px solid $ra-is-primary;
  padding-left: 10px;
  label{
    margin-left: 3px;
  }
}
