<div class="editor">
  <!--头部-->
  <div class="editor-header"></div>

  <!--中间-->
  <div class="editor-main">
    <ra-design-tools>
      <div class="editor-stage-taskbar">
        <!--<ra-design-stage></ra-design-stage>-->
      </div>
      <div class="editor-stage-main">
        <!--<ra-design-stage-interface></ra-design-stage-interface>-->
      </div>
      <div class="editor-stage-footer">
      </div>
    </ra-design-tools>
  </div>


  <!--底部-->
  <div class="editor-footer">

  </div>
</div>
