$ra-font-color: #5c798f;
$ra-font-light-color: #869fb1;
$ra-back-color: #131e26;
$ra-back-light-color: #16232d;
$ra-back-extra-color: #1c2b36;
$ra-hover: #1D8CE0;
$ra-hover-light: #20A0FF;
$ra-hover-extra: #58B7FF;
