@import "../../design-style/themes/default";

@toolsWidth: 34px;

ra-design-header {
  display: block;
  height: @toolsWidth;
  border-bottom: 1px solid @back-color;
  background: @back-extra-color;
  [nz-icon]{
    font-size: 30px;
    float: right;
    position: relative;
  }
  .dropdown-menu{
    position: absolute;
    right: 0;
    left: auto;
    top: 100%;
    z-index: 1000;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    .dropdown-item{
      display: block;
      width: 100%;
      padding: .25rem 1.5rem;
      clear: both;
      font-weight: 400;
      color: #212529;
      text-align: inherit;
      white-space: nowrap;
      background-color: transparent;
      border: 0;
      color: #616161;
      cursor: pointer;
      &:hover{
        color: #E83524 !important;
        text-decoration: none;
        background-color: #f8f9fa;
      }
    }
  }
}
