<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Demo</title>
    <style>
        body {
            overflow-x: hidden;
        }
        .console-wrapper {
            margin: auto;
            padding: 12px;
            width: 80%;
            background: #eee;
        }
    </style>
</head>

<body>
<div class="console-wrapper">
    <pre id="console"></pre>
</div>
<script>
    window.close()
</script>
</body>

</html>
