*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  display: block;
  height: 100vh;
  font-size: 14px;
  position: relative;
}
div{
  display: block;
}
li{
  list-style: none;
}
