<div class="editor">
  <!--头部-->
  <ra-design-header></ra-design-header>
  <!--中间-->
  <ra-design-tools cdkDropListGroup>
      <ra-design-stage></ra-design-stage>

      <!--      <div class="example-container">
              <h2>To do</h2>

              <div
                cdkDropList
                #todoList="cdkDropList"
                [cdkDropListData]="todo"
                [cdkDropListConnectedTo]="[doneList]"
                class="example-list"
                (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
              </div>
            </div>
            <div class="example-container">
              <h2>Done</h2>

              <div
                cdkDropList
                #doneList="cdkDropList"
                [cdkDropListData]="done"
                [cdkDropListConnectedTo]="[todoList]"
                class="example-list"
                (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
              </div>
            </div>-->
    </ra-design-tools>
  <!--底部-->
  <div class="editor-footer">

  </div>
</div>
