
// -------- Colors -----------
$primary-color          : #20A0FF;
//$primary-color          : #1890ff;
$info-color             : #1890ff;
$success-color          : #52c41a;
$processing-color       : #1890ff;
$error-color            : #f5222d;
$highlight-color        : #f5222d;
$warning-color          : #faad14;
$normal-color           : #d9d9d9;

$font-color: #5c798f;
$font-light-color: #869fb1;
$back-color: #131e26;
$back-light-color: #16232d;
$back-extra-color: #1c2b36;
