
// -------- Colors -----------
$primary-color          : #20A0FF;
//$primary-color          : #1890ff;
$info-color             : #1890ff;
$success-color          : #52c41a;
$processing-color       : #1890ff;
$error-color            : #f5222d;
$highlight-color        : #f5222d;
$warning-color          : #faad14;
$normal-color           : #d9d9d9;

$panel-color: #1c2b36;
