.page-editor {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.page-editor__form {
  flex: 1;
  //background: #999;
  //background-image: linear-gradient(45deg, #666 25%, transparent 0, transparent 75%, #666 0), linear-gradient(45deg, #666 25%, transparent 0, transparent 75%, #666 0);
  //background-position: 0 0, 15px 15px;
  //background-size: 30px 30px;
  background-color: transparent;
  background-image: url("../../../../assets/images/transparent-square-tiles.png");
  background-repeat: repeat;
  background-size: 130px;
}


/**
    page-editor: dynamic component drag style
                 动态组件拖拉拽样式
 */
.page-editor{
  .dynamic-blank{
    &.ant-layout-header, &.ant-layout-footer{
      background: #7dbcea;
      color: #fff;
      text-align: center;
    }
    &.ant-layout-content{
      background: rgba(16, 142, 233, 1);
      color: #fff;
      min-height: 120px;
      line-height: 120px;
      text-align: center;
    }
  }
  .cdk-drag-placeholder{
    box-shadow: 0 0 0 1px #51c1f8 !important;
    background-color: rgba(81, 193, 248, 0.2) !important;
    > *{
      opacity: 0;
    }
  }
}
.ant-input {
  &.cdk-drag-preview {
    transition: none;
  }
  &.cdk-drag-animating {
    transition: transform 150ms cubic-bezier(0, 0, 0.2, 1);
  }
}
