ra-design-tools{
  display: flex;
  flex: 1;
  //工具栏
  .editor-tools{
    width: 31px;
    background: $back-extra-color;
    color: $primary-extra;
    user-select: none;
    .editor-tools-item{
      display: flex;
      flex-direction: column;
      padding-top: 10px;
      padding-bottom: 10px;
      // tools 的 icon大小
      [nz-icon]{
        font-size: 14px;
        margin-bottom: 4px;
      }
      span{
        writing-mode: vertical-rl;
      }
      &:hover{
        background: $back-light-color;
      }
      &.is-select{
        color: $primary-color;
        background: $back-color;
      }

    }
    .editor-tools-center{
      order: 100;
      flex: 1;
    }
    &:first-of-type{
      border-right: 1px solid $back-color;

      .editor-tools-item{
        padding-left: 2px;
        [nz-icon]{
          margin-left: 4px;
        }
        span{
          margin-left: 4px;
        }
        &.is-select{
          border-left: 2px solid $primary-color;
          padding-left: 0;
        }
      }
    }
    &:last-of-type{
      border-left: 1px solid $back-color;
      .editor-tools-item{
        justify-content: flex-end;
        flex-direction: row;
        padding-right: 2px;
        [nz-icon]{
          margin-right: 4px;
        }
        span{
          margin-right: 4px;
        }
        &.is-select{
          border-right: 2px solid #00f9a6;
          padding-right: 0;
        }
      }
    }
  }

  //工具栏界面
  .ra-design-tools-interface{
    &:nth-child(2){
      border-right: 1px solid $back-color;
    }
    &:nth-last-child(2){
      border-left: 1px solid $back-color;
    }
  }


}
